*{
    margin: 0;
    padding: 0;
}

body{
   background: #eeeeee; 
}

.tm-header{
    background: #fffff
}

.tm-container{
    max-width: 1200px;
    border:1px solid red;
    margin: 0 auto;
}

.tm-nav{
    
}

tm-nav ul li{
    display: inline-block;
}

tm-nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #303030;
}